.buttonPlus{
  padding: 20px;
margin-left: 13px;
margin-right: 8px;
}

* {
  font-family: Avenir, Helvetica, sans-serif;
}

#logo img{
  width: 350px;
}

#logo {
  float: right;
  margin-right: 100px;
}
